body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellowgreen;
    margin: auto;
}

h1{
    margin-top: 100px;
    color:maroon;
    transform: rotate(-37deg);
    position: absolute;
}

a {
    padding: 10px;
    text-decoration: none;
    background-color: aquamarine;
    color:yellow;
    width: 100px;
    height: auto;
    position: absolute;
    text-align: center;
    margin-top: 600px;

}

a:hover{
  background-color: cadetblue;
  color:peachpuff;
  transform: scale(0.3);
}

p {
    color:violet;
    transform: rotate(28deg);
    position: absolute;
    margin-top: 500px;
    margin-left: 250px;

}