*{
    margin: 0;
    overflow: hidden;
}
body{
    background-color: rgba(180, 134, 180, 0.521);
    background-image: url(./img/Butterfly.gif);
    background-repeat: repeat;
    
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(41, 37, 37);
    height: auto;
}

li{
    float: left;
}

li a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

li a:hover{
    opacity: 1.5;
    color: rgba(89, 18, 104, 0.801);
    background-color:rgb(24, 24, 24)
}

.active{
    background-color: black;
    color: rgb(141, 82, 168);
}

section{
    display: block;
    padding: 100px;
    background-color: aqua;
    opacity: 10%;
    width: 50%;
    text-align: center
    
}