*:not(.clinks:hover) {
    cursor: url(./images/cursor/1.png) 0 18, auto;
    animation-name: cursor_anim;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes cursor_anim {
    0%{
        cursor: url(./images/cursor/1.png) 0 18, auto;
    }
    25%{
        cursor: url(./images/cursor/2.png) 0 18, auto;
    }
    50%{
        cursor: url(./images/cursor/3.png) 0 18, auto;
    }
    75%{
        cursor: url(./images/cursor/4.png) 0 18, auto;
    }
    
}

body{
    background-color: #051F3A;
    background-image: url(./images/star_trails.jpg);
    background-repeat: no-repeat;
    background-size: stretch;
    width: 100%;
    height: 100%;
    padding: 80px 80px 0 80px;
    text-align: center;
}

main{
    font-family: "Raleway", sans-serif;
    font-optical-sizing:auto;
    font-weight: 360;
    font-style: normal;
    font-size: 20px;
    text-shadow: 7px 3px 21px rgb(64, 64, 64);
}

.container{
    color: rgb(32, 44, 64);
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 60%;
    height: 100%;
    border-radius: 7px;
}

.topsection{

}

.midsection{
    margin: auto;
}





/* .clinks{
    color: aqua;
    text-decoration: none;
}

.clinks:hover{
    text-decoration: underline;
    cursor: pointer;
}

.charles{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 7px;
}

.mid_image_contents{
    margin: 0;
    padding: 0;
    width: 320px;
    height:  286px;
    background-color: #051F3A;
}

.mid_image_contents:hover{
    background-color: aliceblue;
}

.bowtie{
    visibility: hidden;
    width: 128px;
    rotate: -14deg;
    position: relative;
    top: -120px;
    left: 46px;
}

.charles:hover .bowtie:hover + .bowtie{
    visibility:visible;
} */



